.desktoppane {
    position: relative;

    > .body {
        position: absolute;
        width: 100%;
        top: 0;

        //make space for the taskbar
        bottom: $headerLineHeight;
    }
}
