html, body {
	width: 100%;
	height: 100%;
}

body {
    background-image: url('../images/stripes_rpt.png'), url('../images/bkg_owf.png'), -webkit-radial-gradient(white, #E6E7E8);
    background-image: url("../images/stripes_rpt.png"), url("../images/bkg_owf.png"), -moz-radial-gradient(white, #E6E7E8);
    height: 100%;
    outline: 0 none;
    cursor: default;
    background-attachment: fixed;
    background-position: center center, center center;
    background-repeat: repeat, no-repeat, no-repeat;
}

.dashboard, .desktoppane {
	width: 100%;
	height: 100%;
}

.tooltip .tooltip-inner {
    max-width: none;
}