#dashboard-designer {
	z-index: 1000000000;
    background: $baseColor;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: auto;
    height: auto;

    .actions {
        background: darken($baseColor, 10%);
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 3em;

        .btn {
            margin-top: 6px;
        }

        .pull-left {
            margin-left: 0.5em;
        }
        .pull-right {
            margin-right: 0.5em;
        }
    }

    .lock-btn {
        span {
            margin-left: 0.25em;
        }
    }
}

.working-area {
    position: absolute;
    bottom:0;
    top:0;
    left:0;
    right:0;
    width: auto;
    height: auto;
    margin: 0 120px 3em 0;
    background: $baseColor;

    > .pane {
        position: absolute;
        width: 100%;
        height: 100%;
    }

    &.highlight, .pane.highlight {
        background-color: $linkColor;
        background-color: rgba($linkColor,0.1);
    }
}

#side-panel {
    position: absolute;
    float: right;
    width: 120px;
    height: 100%;
    top: 0;
    right: 0;
    background: darken($baseColor, 10%);

    & > ul > li {
        text-align: center;
        font-size: 2em;
        padding: 1em;
    }
}


$dashboard-designer-background-color: #fff !default;
$dashboard-designer-background-image: 'dashboard-designer/background.png' !default;

$dashboard-designer-side-panel-background-color: #ccc !default;
$dashboard-designer-side-panel-border: 1px solid #aaa !default;
$dashboard-designer-side-panel-item-background-color: #aaa !default;

$dashboard-designer-pane-dimensions-background-color: #fff !default;
$dashboard-designer-pane-dimensions-opacity: 0.5 !default;
$dashboard-designer-pane-dimensions-color: #000 !default;
$dashboard-designer-pane-dimensions-text-shadow: 0px 0px 2px #fff !default;
$dashboard-designer-pane-dimensions-border: 3px dotted #ccc !default;

$dashboard-designer-accordion-pane-image: 'dashboard-designer/accordion.png' !default;
$dashboard-designer-accordion-pane-background-color: #ff0000 !default;
$dashboard-designer-accordion-pane-opacity: 0.07 !default;
$dashboard-designer-accordion-pane-ie78-background-color: #ffecec !default;

$dashboard-designer-desktop-pane-image: 'dashboard-designer/desktop.png' !default;
$dashboard-designer-desktop-pane-background-color: #ffff00 !default;
$dashboard-designer-desktop-pane-opacity: 0.1 !default;
$dashboard-designer-desktop-pane-ie78-background-color: #ffffe5 !default;

$dashboard-designer-portal-pane-image: 'dashboard-designer/portal.png' !default;
$dashboard-designer-portal-pane-background-color: #0d8900 !default;
$dashboard-designer-portal-pane-opacity: 0.1 !default;
$dashboard-designer-portal-pane-ie78-background-color: #e6f3e5 !default;

$dashboard-designer-tabbed-pane-image: 'dashboard-designer/tabbed.png' !default;
$dashboard-designer-tabbed-pane-background-color: #0068b1 !default;
$dashboard-designer-tabbed-pane-opacity: 0.1 !default;
$dashboard-designer-tabbed-pane-ie78-background-color: #e5f0f7 !default;

$dashboard-designer-fit-pane-image: 'dashboard-designer/fit.png' !default;
$dashboard-designer-fit-pane-background-color: #9600C8 !default;
$dashboard-designer-fit-pane-opacity: 0.2 !default;
$dashboard-designer-fit-pane-ie78-background-color: #f4e5f9 !default;

$dashboard-designer-drop-shim-background-color: #000 !default;
$dashboard-designer-drop-shim-opacity: 0.3 !default;
$dashboard-designer-drop-shim-ie78-background-color: #b2b2b2 !default;

$dashboard-designer-border: 1px solid black !default;

$active-pane-border-color: red !default;

#dashboard-designer {
    .pane {
        & > .editable, & > .editable-inline {
            position: absolute;
            bottom: 1.25em;
            left: 40%;
            width: 4em;
        }

        & > .editable {
            line-height: 2em;
            font-size: 1.25em;
            border-radius: 0.5em;
            text-shadow: $dashboard-designer-pane-dimensions-text-shadow;
            color: $dashboard-designer-pane-dimensions-color;
            text-align: center;
            border: $dashboard-designer-pane-dimensions-border;
            background: rgba($dashboard-designer-pane-dimensions-background-color, $dashboard-designer-pane-dimensions-opacity);
        }

        &.tabbed {
            background-color: $dashboard-designer-tabbed-pane-background-color;
            background-color: rgba($dashboard-designer-tabbed-pane-background-color, $dashboard-designer-fit-pane-opacity);
        }
    }

    .vbox > .one > .editable, .vbox > .two > .editable {
        left: 1.25em;
        bottom: 40%;
    }

    .vbox > .one, .vbox > .two {
        > .editable, > .editable-inline {
            left: 1.25em;
            bottom: 40%;
        }
    } 
}

.box {
    position: absolute;
}


