#create-edit-dashboard-window {
    @extend .no-border-radius;
    border: 5px solid gray;
    border: 5px solid rgba(gray, 0.5);
    z-index: 100000000;

    .row {
        line-height: 3em;
    }

}